{% extends 'destinations/base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
  <div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}

    <div class="wrapper wrapper-content">
      <div class="middle-box text-center animated fadeInDown" style="margin-top: 0;">
        <div class="ibox">
          <div class="ibox-content">
            <h3 class="font-bold">Cambio de Contraseña Exitoso</h3>
            <div class="error-desc">
              Su contraseña fue cambiada exitosamente.
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'destinations/footer.html' %}
  </div>
{% endblock %}
