{% extends 'accounts/base.html' %}

{% block title %}Nueva Contraseña{% endblock %}

{% block attrs_body %}class="gray-bg"{% endblock %}

{% block content %}
  <div class="passwordBox animated fadeInDown">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content">
          <h2 class="font-bold">{{ title }}</h2>
          <p>
            Ingrese la nueva contraseña y la confirmación de la nueva contraseña.
          </p>
          <div class="row">
            <div class="col-lg-12">
              {% include 'accounts/non_field_errors.html' %}
              <form class="m-t" role="form" method="post">
                {% csrf_token %}
                <div class="form-group">
                  {% for field in form %}
                    <label class="sr-only" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.help_text }}
                    {{ field.errors }}
                  {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Restablecer contraseña</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    {% include 'accounts/footer.html' %}
  </div>
{% endblock %}
